
    #box{
        height: 530px;
        width: 26%;
        box-shadow: 0px 0px 5px 0px black;
        margin: 80px 0px 0px 450px
    }#box>h3{
        margin: 0px 0px 0px 20px
    }
    #nut{
        float:right;
        margin: 0px 20px 0px 0px
    }
    #dk{
        height: 35px;
        background-color: rgb(221, 210, 210);
        font-variant: small-caps;
        color: rgb(19, 19, 206)
    }
    #tren>input{
        float: right
    }#nut>input:hover   {
        color: yellowgreen
    }
    #ve>{
        font-variant: small-caps;
        text-decoration: none;
        
    }
    #ve>:hover{
        background-color: rgb(226, 191, 145)
    }
    #ve>a{
        box-shadow: 0px 0px 0px 1px gray;
        text-decoration: none;
        background-color: rgb(136, 233, 201);
        
    }
    form{
        background-color: rgb(225, 237, 247)
    }
    body{
        background-color: rgba(209, 206, 206, 0.76)
    }
